nav img {
    width: 5%;  /* Bootrap will resize height to fit into navbar */
}
#user_logo{
    float: right;
}
.row{
    min-height: 100vh;
}
aside{
    background-color: #e3f2fd;
}
main{
    display: flex;
    flex-direction: column;
}
#tasks{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
#add_note_icon{
    float: right;
}